THIRDWEB_CLIENT_ID=xxxxxxxxxxxxxxxc
THIRDWEB_SECRET_KEY=xxxxxxxxxxxxxxx
MZLX_TOKEN_CONTRACT=xxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_FLUTTERWAVE_PUBLIC_KEY=xxxxxxxxxxxxxxxcc
FLUTTERWAVE_SECRET_KEY=xxxxxxxxxxxxxxxxx
